/* css styles */

body {
  font-family: 'Open Sans', sans-serif;
}

code {
  background-color: #f0f0f0;
  color: #0097a9;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
